/* Home */
#home {
  /* background: rgb(0, 101, 219); */
  /* background: linear-gradient(90deg, rgb(0,101,219) 50%, rgba(0, 212, 255, 1)100%); */
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)),url('../src/assets/images/back.jpeg');
  background-size: cover;
  background-position: 0.2rem;
  min-height: 500px;
}

/* .container{
  background-color: black;
  border: 1px solid black;
  opacity: 0.6;
} */

.navbar {
  background-color: #00346F;
  color: white;
}

.card {
  transition: all 0.5s ease;
}

.card:hover{
  cursor: pointer;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, .15);
}